{% extends "dashboard/reader.html" %}

{% block title %}
    Be an author
{% endblock %}

{% block section %}
<div class="w-full flex justify-center">
    <div class="w-full lg:w-2/3 bg-white border border-blue-200 rounded-2xl shadow p-6">
        {% if status == "pending" %}
            <p class="pb-2 underline-offset-1 text-yellow-600 text-center font-medium">Your application is under review</p>
        {% elif status == "accepted" %}
            <p class="pb-2 underline-offset-1 text-green-600 text-center font-medium">You have been approved as an author!</p>
        {% elif status == "rejected" %}
            <p class="pb-2 underline-offset-1 text-red-600 text-center font-medium">Your application was rejected</p>
        {% endif %}
        <div class="mb-6">
            <h2 class="text-xl font-semibold text-blue-600">Apply to be an Author</h2>
            <p class="text-sm text-gray-500">Tell us a bit about yourself and why you’d like to contribute.</p>
        </div>
        <form action="/dashboard/be-author" method="post" class="flex flex-col gap-4">

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                <div>
                <label class="text-sm text-blue-600">Name</label>
                <input required name="name" type="text" value="{{ user.name }}" disabled placeholder="Full name"class="w-full p-3 rounded-xl border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>

                <div>
                <label class="text-sm text-blue-600">Name</label>
                <input required name="username" value="{{ user.username }}" disabled type="text" placeholder="Username" class="w-full p-3 rounded-xl border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
            </div>

            <div>
                <label class="text-sm text-blue-600">Why do you want to become an author?</label>
            <textarea required name="message" rows="5" placeholder="Share your experience, interests, or writing style..." class="w-full p-3 rounded-xl border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
            ></textarea>
            </div>
            {% if status in ["pending","accepted"] %}
            <button disabled type="submit" class="mt-2 bg-blue-600 hover:bg-blue-700/20 text-white py-3 rounded-xl transition font-medium">Submit Application</button>
            {% else %}
            <button type="submit" class="mt-2 bg-blue-600 hover:bg-blue-700 text-white py-3 rounded-xl transition font-medium">Submit Application</button>
            {% endif %}
            
        </form>
    </div>

</div>
{% endblock %}
