@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    font-family: "Questrial", sans-serif;
    /* font-weight: 400; */
    /* font-style: normal; */
}

nav .navbar-brand
{
    font-size: xx-large;
}

nav .navbar-brand .blue
{
    color: #537fbe;
}

nav .navbar-brand .red
{
    color: #ea433b;
}

nav .navbar-brand .yellow
{
    color: #f5b82e;
}

nav .navbar-brand .green
{
    color: #2e944b;
}

.logo{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

#updates {
  display: inline-block;
  animation: scroll 12s linear infinite;
}
