{% extends "layout.html" %}

{% block title %}
    Contact Us
{% endblock %}

{% block main %}

<article>

  <div class="max-w-4xl -mt-4 mx-auto px-4 pt-10">

    <div class="mb-8">
      <img src="https://cdn-icons-png.flaticon.com/512/2965/2965879.png" alt="Contact Open Journal" class="w-full rounded-2xl shadow-md object-cover max-h-[450px]">
    </div>

    <h1 class="text-3xl md:text-5xl font-bold mb-4 leading-tight hover:text-blue-600">
      Contact Us
    </h1>

    <blockquote class="border-l-4 border-blue-500 pl-4 italic text-gray-600 my-6">
      “We’d love to hear from you — questions, feedback, or collaboration ideas.”
    </blockquote>

    <p class="mb-4 text-lg leading-relaxed">
      Whether you’re a reader, writer, or collaborator, Open Journal is always open to conversation. 
      If you have feedback, suggestions, or inquiries, feel free to reach out.
    </p>

    <p class="mb-4 text-lg leading-relaxed">
    <strong>Email:</strong> 
      <a href="mailto:parvejsunamganj@gmail.com" class="text-blue-600 hover:underline">
        parvejsunamganj@gmail.com
      </a>
    </p>

    <p class="mb-4 text-lg leading-relaxed">
    <strong>GitHub:</strong> 
      <a href="https://github.com/parvejtalukder" target="_blank" class="text-blue-600 hover:underline">
        @parvejtalukder
      </a>
    </p>

    <p class="mb-4 text-lg leading-relaxed">
      We aim to respond as soon as possible. Thank you for being part of Open Journal.
    </p>

  </div>

</article>

{% endblock %}
