<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <!-- tailwindCss -->
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="https://cdn-icons-png.flaticon.com/512/2965/2965879.png" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        <title>{% block title %}{% endblock %} | Open Journal Dashboard</title>

    </head>

    <body class="max-w-6xl mx-auto transition-all duration-500">
    <header class="sticky z-50 top-2">    
        {% if get_flashed_messages() %} 
        <header id="flash-message" class="fixed mx-auto top-20 left-2/2 right-1/2 w-full bg-slate-700 rounded-md p-5 z-50 shadow-lg transform transition-all duration-1000"> 
            <!-- <div class="bg-blue-100 text-blue-800 px-4 py-3 rounded text-center shadow"> {{ get_flashed_messages() | join(" ") }} </div>  -->
            <div id="toast-top-left" class="fixed flex items-center w-full max-w-xs p-4 text-body bg-blue-300 border-blue-600 rounded-xl shadow-xs border border-default top-5 start-5" role="alert">
                <div class="text-sm font-normal">{{ get_flashed_messages() | join(" ") }}</div>
            </div>
        </header> 
        {% endif %}

        <main class="py-3 lg:mx-auto mx-3"> 
            <div class="antialiased bg-gray-50 ">
                <nav class="bg-white border-b border-blue-600 px-4 py-2.5 fixed left-0 right-0 top-0 z-50">
                  <div class="flex flex-wrap justify-between items-center">
                    <div class="flex justify-start items-center">
                      <button
                        data-drawer-target="drawer-navigation"
                        data-drawer-toggle="drawer-navigation"
                        aria-controls="drawer-navigation"
                        class="p-2 mr-2 text-blue-600 rounded-lg cursor-pointer md:hidden hover:text-blue-600 hover:bg-blue-400 focus:bg-blue-600 focus:ring-2 focus:ring-blue-600"
                      >
                        <svg
                          aria-hidden="true"
                          class="w-6 h-6"
                          fill="currentColor"
                          viewBox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                            clip-rule="evenodd"
                          ></path>
                        </svg>
                        <svg
                          aria-hidden="true"
                          class="hidden w-6 h-6"
                          fill="currentColor"
                          viewBox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"
                          ></path>
                        </svg>
                        <span class="sr-only">Toggle sidebar</span>
                      </button>
                      <a href="/" class="flex items-center justify-between mr-4">
                        <span class="self-center lg:text-2xl text-xl font-semibold whitespace-nowrap text-blue-600">Open Journal</span>
                      </a>
                      <!-- <form action="#" method="GET" class="hidden md:block md:pl-2">
                        <label for="topbar-search" class="sr-only">Search</label>
                        <div class="relative md:w-64 md:w-96">
                          <div
                            class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
                          >
                            <svg
                              class="w-5 h-5 text-blue-600"
                              fill="currentColor"
                              viewBox="0 0 20 20"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                              ></path>
                            </svg>
                          </div>

                        </div>
                      </form> -->
                    </div>
                    <div class="flex items-center lg:order-2">
                      <!-- <button
                        type="button"
                        data-drawer-toggle="drawer-navigation"
                        aria-controls="drawer-navigation"
                        class="p-2 mr-1 text-white rounded-lg md:hidden hover:text-blue-300 hover:bg-blue-600 focus:ring-4 focus:ring-blue-600 "
                      >
                        <span class="sr-only">Toggle search</span>
                        <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                          <path clip-rule="evenodd" fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"></path>
                        </svg>
                      </button> -->
                      <button
                        type="button"
                        class="flex mx-3 text-sm bg-blue-600 rounded-full md:mr-0 focus:ring-2 focus:ring-blue-600"
                        id="user-menu-button"
                        aria-expanded="false"
                        data-dropdown-toggle="dropdown"
                      >
                        <span class="sr-only">Open user menu</span>
                        <img
                          class="w-8 h-8 rounded-full"
                          src="static/uploads/{{ user.photo }}"
                          alt="user photo"
                        />
                      </button>
                      <!-- Dropdown menu -->
                      <div
                        class="hidden z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-blue-600 shadow  rounded-xl"
                        id="dropdown"
                      >
                        <div class="py-3 px-4">
                          <span
                            class="block text-sm font-semibold text-blue-600 "
                            >{{ user.name }}</span
                          >
                          <span
                            class="block text-sm font-semibold text-blue-400 "
                            >{{ user.email }}</span
                          >
                        </div>
                        <ul
                          class="py-1 text-blue-600"
                          aria-labelledby="dropdown"
                        >
                          <li>
                            <a
                              href="#"
                              class="block py-2 px-4 text-sm hover:bg-blue-200 "
                              >My profile</a
                            >
                          </li>

                        </ul>
                        <ul
                          class="py-1 text-blue-600 "
                          aria-labelledby="dropdown"
                        >
                          <li>
                            <a
                              href="/logout"
                              class="block py-2 px-4 text-sm hover:bg-blue-500 "
                              >Log out</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </nav>
                    <aside
      class="fixed top-0 left-0 z-40 w-64 h-screen pt-14 transition-transform -translate-x-full bg-white border-r border-blue-600 md:translate-x-0 "
      aria-label="Sidenav"
      id="drawer-navigation"
    >
      <div class="overflow-y-auto py-5 px-3 h-full bg-white ">
        
        <ul class="space-y-2">
          {% if user.role == "admin" %}
          <li>
            <a
              href="/dashboard/overview"
              class="flex items-center p-2 text-base font-medium text-blue-600 rounded-lg  group"
            >
              <svg
                aria-hidden="true"
                class="w-6 h-6 text-blue-600 transition duration-75 e"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
              </svg>
              <span class="ml-3">Overview</span>
            </a>
          </li>
          {% endif %}
          {% if user.role == "author" or user.role == "admin" %}
          <li>
            <button
              type="button"
              class="flex items-center p-2 w-full text-base font-medium text-blue-600 rounded-lg transition duration-75 group hover:bg-blue-200"
              aria-controls="dropdown-pages"
              data-collapse-toggle="dropdown-pages"
            >
              <svg
                aria-hidden="true"
                class="flex-shrink-0 w-6 h-6 text-blue-600 transition duration-75 group-hover:text-blue-600 "
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <span class="flex-1 ml-3 text-left whitespace-nowrap"
                >Content</span
              >
              <svg
                aria-hidden="true"
                class="w-6 h-6"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
            <ul id="dropdown-pages" class="hidden py-2 space-y-2">
            {% if user.role == "author" or user.role == "admin" %}
              <li>
                <a
                  href="dashboard/posts"
                  class="flex items-center p-2 pl-11 w-full text-base font-medium text-blue-600 rounded-lg transition duration-75 group hover:bg-blue-400"
                  >Posts</a
                >
              </li>
              {% endif %}
              {% if user.role == "admin" %}
              <li>
                <a
                  href="dashboard/pages"
                  class="flex items-center p-2 pl-11 w-full text-base font-medium text-blue-600 rounded-lg transition duration-75 group hover:bg-blue-400"
                  >Pages</a
                >
              </li>
              {% endif %}
            </ul>
          </li>
          {% endif %}
          {% if user.role == "reader" %}
          <li>
            <button
              type="button"
              class="flex items-center p-2 w-full text-base font-medium text-blue-600 rounded-lg transition duration-75 group hover:bg-blue-400"
              aria-controls="dropdown-sales"
              data-collapse-toggle="dropdown-sales"
            >
              <svg
                aria-hidden="true"
                class="flex-shrink-0 w-6 h-6 text-blue-600 transition duration-75 group-hover:text-blue-600 "
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <span class="flex-1 ml-3 text-left whitespace-nowrap"
                >Application</span
              >
              <svg
                aria-hidden="true"
                class="w-6 h-6"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
            <ul id="dropdown-sales" class="hidden py-2 space-y-2">
              <li>
                <a
                  href="dashboard/be-author"
                  class="flex items-center p-2 pl-11 w-full text-base font-medium text-blue-600 rounded-lg transition duration-75 group hover:bg-blue-400"
                  >Be an author</a
                >
              </li>
              <li>
                <a
                  href="dashboard/feedback"
                  class="flex items-center p-2 pl-11 w-full text-base font-medium text-blue-600 rounded-lg transition duration-75 group hover:bg-blue-400"
                  >Your feedback</a
                >
              </li>
              
            </ul>
          </li>
          {% endif %}
          <li>
            <button
              type="button"
              class="flex items-center p-2 w-full text-base font-medium text-blue-600 rounded-lg transition duration-75 group hover:bg-blue-400"
              aria-controls="dropdown-authentication"
              data-collapse-toggle="dropdown-authentication"
            >
              <svg
                aria-hidden="true"
                class="flex-shrink-0 w-6 h-6 text-blue-600 transition duration-75 group-hover:text-blue-600 "
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <span class="flex-1 ml-3 text-left whitespace-nowrap"
                >Authentication</span
              >
              <svg
                aria-hidden="true"
                class="w-6 h-6"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
            <ul id="dropdown-authentication" class="hidden py-2 space-y-2">
              <li>
                <a
                  href="dashboard/reset-password"
                  class="flex items-center p-2 pl-11 w-full text-base font-medium text-blue-600 rounded-lg transition duration-75 group hover:bg-blue-400"
                  >Reset Password</a
                >
              </li>
            </ul>
          </li>
        </ul>
        
      </div>
    </aside>
            </div>
            <section class="lg:ml-64 pt-20 px-4">
                {% block main %} {% endblock %}
            </section>
        </main>

        <script src="/static/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script src="https://unpkg.com/flowbite@1.6.5/dist/flowbite.min.js"></script>
    </body>

</html>
