{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<section class="mb-10">
  <div id="indicators-carousel" class="relative w-full" data-carousel="slide">
    <div class="relative h-56 md:h-96 overflow-hidden rounded-xl">
      {% for post in posts %}
      <a href="/news?p={{ post.id }}" class="{% if loop.first %}block{% else %}hidden{% endif %} duration-700" data-carousel-item>
        <img src="/static/uploads/{{ post.image }}"
             class="absolute w-full h-full object-cover top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <div class="absolute bottom-5 text-2xl left-5 bg-black/60 text-white px-4 py-2 rounded">
          {{ post.title }}
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>


<section class="flex flex-col lg:flex-row gap-6 mb-12">

  <div class="w-full lg:w-5/7 h-full">
    <h2 class="text-2xl font-semibold mb-4 hover:text-blue-600">Featured News</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      {% for news in newses %}
      <a href="/news?p={{ news.id }}" class="rounded border border-blue-600 shadow hover:bg-blue-200">
        <img class="w-full h-48 object-cover" src="/static/uploads/{{ news.image }}">
        <div class="p-4">
          <h3 class="font-bold text-lg mb-2">{{ news.title }}</h3>
          <div class="flex flex-wrap gap-2 text-sm">
            <span class="bg-gray-200 px-2 py-1 rounded">{{ news.category }}</span>
            <span class="bg-gray-200 px-2 py-1 rounded"> {{ news.created_at }} </span>
            <span class="bg-gray-200 px-2 py-1 rounded"> By @{{ news.author_name }} </span>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>

  <aside class="w-full lg:w-2/7 text-white h-auto rounded-xl px-4">
      <div class="w-full h-full rounded-xl hover:bg-blue-200 shadow border-1 border-blue-600 p-4 bg-white flex flex-col justify-between">
        <div>
            <h3 class="text-lg text-blue-500 font-bold mb-2">Sponsored</h3>
            <img src="/static/cs50.jpg" alt="CS50" class="w-full rounded mb-4">
            <h4 class="font-bold text-gray-800 mb-2">
              Learn Computer Science for Free
            </h4>
            <p class="text-sm text-gray-600">
              Start Harvard’s CS50 and build real-world projects step by step.
            </p>
        </div>

        <a href="https://cs50.harvard.edu/x/" target="_blank" class="mt-4 block text-center bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition">Enroll Now</a>
    </div>
  </aside>
</section>


<section class="mb-12">
  <h2 class="text-2xl font-semibold mb-4 hover:text-blue-600">Entertainment</h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
    {% for entertainment in entertainments %}
    <a href="/news?p={{ entertainment.id }}" class="p-4 border border-blue-600 rounded shadow hover:bg-blue-200">
      <h3 class="font-semibold mb-2">{{ entertainment.title }}</h3>
      <p class="text-sm">{{ entertainment.content | truncate(30, True, '...') }}</p>
    </a>
    {% endfor %}
  </div>
</section>
<section class="mb-12">
  <h2 class="text-2xl font-semibold mb-4 hover:text-blue-600">Tech News</h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
    {% for tech in techs %}
    <a href="/news?p={{ tech.id }}" class="p-4 border border-blue-600 rounded shadow hover:bg-blue-200">
      <h3 class="font-semibold mb-2">{{ tech.title }}</h3>
      <p class="text-sm">{{ tech.content | truncate(30, True, '...') }}</p>
    </a>
    {% endfor %}
  </div>
</section>


<section class="mb-12">
  <h2 class="text-2xl font-semibold mb-4 hover:text-blue-600">Sports News</h2>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    {% for sport in sports %}
    <div class="flex flex-col md:flex-row border border-blue-600 rounded p-4 hover:bg-blue-200">
      <img class="w-full md:w-48 h-24 object-cover mb-3 md:mb-0"
           src="/static/uploads/{{ sport.image }}">
      <div class="md:ml-4">
        <h3 class="font-bold mb-2">{{ sport.title }}</h3>
        <p class="text-sm mb-2">{{ sport.content | truncate(50, True, '...') }}</p>
        <a href="/news?p={{ sport.id }}" class="text-sm bg-blue-600 px-3 py-1 rounded">Read more</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<section class="mb-12">
  <h2 class="text-2xl font-semibold mb-4 hover:text-blue-600">Opinions</h2>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    {% for opinion in opinions %}
    <div class="flex flex-col md:flex-row border border-blue-600 rounded p-4 hover:bg-blue-200">
      <img class="w-full md:w-48 h-24 object-cover mb-3 md:mb-0"
           src="/static/uploads/{{ opinion.image }}">
      <div class="md:ml-4">
        <h3 class="font-bold mb-2">{{ opinion.title }}</h3>
        <p class="text-sm mb-2">{{ opinion.content | truncate(50, True, '...') }}</p>
        <a href="/news?p={{ opinion.id }}" class="text-sm bg-blue-600 px-3 py-1 rounded">Read more
        </a>
    </div>
    </div>
    {% endfor %}
</section>


<section>
  <h2 class="text-2xl font-semibold mb-1 hover:text-blue-600">Latest Posts</h2>
  <div class="py-2 grid grid-cols-1 lg:grid-cols-3 justify-start lg:items-center items-start space-x-3">
    {% for last in lasts %}
    <li class="mx-10"><a  class="text-blue-700" href="/news?p={{ last.id }}">{{ last.title }}</a></li>
    {% endfor %}
  </div>
</section>

{% endblock %}
