<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <!-- tailwindCss -->
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="https://cdn-icons-png.flaticon.com/512/2965/2965879.png" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        <title>{% block title %}{% endblock %} | Open Journal</title>

    </head>

    <body class="max-w-6xl mx-auto transition-all duration-500">
    <header class="sticky z-50 top-2">    
    <nav class="bg-blue-600 text-white px-4 lg:py-3 py-1 shadow mt-2 rounded-t-xl mx-3 lg:mx-auto"> 
        <div class="max-w-7xl mx-auto flex justify-between lg:justify-around items-center"> 
            <div id="home" onclick="" class="text-lg font-semibold"> Open Journal </div> 
            <!-- Example right-side nav --> 
             <div class="hidden md:flex lg:flex">
                <ul class="flex justify-around items-center space-x-4">
                    <li class="list-none"> <a class="no-underline text-white hover:text-blue-200" href="/">Home</a></li>
                    <li class="list-none"> <a class="no-underline text-white hover:text-blue-200" href="/">International</a></li>
                    <li class="list-none"> <a class="no-underline text-white hover:text-blue-200" href="/">National</a></li>
                    <li class="list-none"> <a class="no-underline text-white hover:text-blue-200" href="/">Literature</a></li>
                    <li class="list-none"> <a class="no-underline text-white hover:text-blue-200" href="/">Entertainment</a></li>
                    <li class="list-none"> <a class="no-underline text-white hover:text-blue-200" href="/">Opinion</a></li>
                </ul>
            </div>
             <div class="lg:space-x-4 space-x-1 flex justify-center items-center "> 
                {% if session["user_id"] %} 
                    <!-- <a href="/logout" class="hover:underline">Log Out</a>  -->
                    <a href="/dashboard" class="hover:underline"><svg
              class="w-6 h-6 text-white"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
              ></path>
            </svg></a> 
                {% else %} 

                    <a href="/login" class="hover:underline btn">Log In</a> 
                    <!-- <a href="/register" class="hidden lg:block hover:underline">Register</a>  -->
                {% endif %} 
                <!-- <img src="/static/manu.png" id="menuBtn" class="p-3 block lg:hidden w-14 h-auto"> -->
                <svg id="menuBtn" class="p-3 block lg:hidden w-14 h-auto text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M9 8h10M9 12h10M9 16h10M4.99 8H5m-.02 4h.01m0 4H5"/>
                </svg>
            </div> 
        </div> 
    </nav>
    <div class="bg-black overflow-hidden lg:mx-auto mx-3 flex justify-between items-center">
        <div class="bg-white px-2 text-red-600 h-full py-2 flex justify-center font-bold rounded-r-lg z-30 animate-pulse">Updates </div>
        <div id="updates" class="py-3 whitespace-nowrap text-white"></div>
    </div>
</header>
    <ul id="mobileMenu" class="hidden fixed top-20 right-4 w-2/3 bg-slate-700 rounded-md p-5 space-y-2 z-50 shadow-lg md:hidden transition-all duration-800">
        <li class="list-none"> <a class="no-underline text-white hover:text-blue-200" href="/">Home</a></li>
        <li class="list-none"> <a class="no-underline text-white hover:text-blue-200" href="/">International</a></li>
        <li class="list-none"> <a class="no-underline text-white hover:text-blue-200" href="/">National</a></li>
        <li class="list-none"> <a class="no-underline text-white hover:text-blue-200" href="/">Literature</a></li>
        <li class="list-none"> <a class="no-underline text-white hover:text-blue-200" href="/">Entertainment</a></li>
        <li class="list-none"> <a class="no-underline text-white hover:text-blue-200" href="/">Opinion</a></li>
    </ul>

        {% if get_flashed_messages() %} 
        <header id="flash-message" class="fixed mx-auto top-20 left-3/2 right-1/2 w-full bg-slate-700 rounded-md p-5 z-50 shadow-lg transform transition-all duration-1000"> 
            <!-- <div class="bg-blue-100 text-blue-800 px-4 py-3 rounded text-center shadow"> {{ get_flashed_messages() | join(" ") }} </div>  -->
            <div id="toast-top-left" class="fixed flex items-center w-full max-w-xs p-4 text-body bg-blue-300 border-blue-600 rounded-xl shadow-xs border border-default top-5 start-5" role="alert">
                <div class="text-sm font-normal">{{ get_flashed_messages() | join(" ") }}</div>
            </div>
        </header> 
        {% endif %}

        <main class="py-3 lg:mx-auto mx-3"> 
            {% block main %}{% endblock %}
        </main>

        <footer>
            <div class="flex lg:flex-row flex-col justify-around gap-8 bg-blue-200 p-10 rounded-t-xl">
                <div class="flex-1">
                    <h2 class="text-lg font-semibold">Open Journal</h2>
                    <p class="text-justify text-sm">A trusted source for breaking news, in-depth analysis, and cultural insights.</p>
                </div>
                <div class="flex-1">
                    <h2 class="text-lg font-semibold">Dashboard</h2>
                    <ul class="">
                        <li class="list-none"><a class="no-underline" href="/dashboard">Home</a></li>
                        <li class="list-none"><a class="no-underline" href="/dashboard/be-author">Be an Author</a></li>
                        <!-- <a href="/">Terms of condition</a> -->
                    </ul>
                </div>
                <div class="flex-1">
                    <h2 class="text-lg font-semibold">Company</h2>
                    <ul class="">
                        <li class="list-none"><a class="no-underline" href="/about">About Us</a></li>
                        <li class="list-none"><a class="no-underline" href="/contact">Contact Us</a></li>
                        <!-- <a href="/">Terms of condition</a> -->
                    </ul>
                </div>
            </div>
            <div class="border-t font-bold border-blue-800 text-center text-sm text-blue-600 py-2">Open Journal. All rights reserved.</div>
        </footer>
        <script src="/static/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script src="https://unpkg.com/flowbite@1.6.5/dist/flowbite.min.js"></script>
    </body>

</html>
