{% extends "layout.html" %}

{% block title %}
    {{ post.title or "No post found!" }}
{% endblock %}

{% block main %}

{% if post %}
<article>


<nav class="flex" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a href="/" class="inline-flex items-center text-sm font-medium text-body hover:text-fg-brand">
        <svg class="w-4 h-4 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"/></svg>
        Home
      </a>
    </li>
    <li>
      <div class="flex items-center space-x-1.5">
        <svg class="w-3.5 h-3.5 rtl:rotate-180 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/></svg>
        <a href="/category/{{ post.category }}" class="inline-flex items-center text-sm font-medium text-body hover:text-fg-brand">{{ post.category }}</a>
      </div>
    </li>
    <li aria-current="page">
      <div class="flex items-center space-x-1.5">
        <svg class="w-3.5 h-3.5 rtl:rotate-180 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/></svg>
        <span class="inline-flex items-center text-sm font-medium text-body-subtle text-wrap">{{ post.title }}</span>
      </div>
    </li>
  </ol>
</nav>

    <div class="max-w-4xl -mt-4 mx-auto px-4 pt-10">
    <h1 class="text-3xl md:text-5xl font-bold mb-4 leading-tight hover:text-blue-600">{{ post.title }}</h1>
    <div class="flex items-center text-sm text-gray-500  mb-6">
      <a href="/author/{{ post.user_id }}"><span class="hover:text-blue-600">By {{ post.author_name or "system" }}</span></a>
      <span class="mx-2">•</span>
      <span>Published at {{ post.created_at }}</span>
    </div>

    <div class="mb-8">
      <img src="/static/uploads/{{ post.image }}" alt="News Image" class="w-full rounded-2xl shadow-md object-cover max-h-[450px]">
    </div>

    <!-- <blockquote class="border-l-4 border-blue-500 pl-4 italic text-gray-600 my-6">
        “{{ post.quote }}”
      </blockquote> -->

    <div class="prose prose-lg max-w-none">
      <p class="mb-4 text-lg leading-relaxed text-justify">
        {{ post.content }}
      </p>
    </div>

  </div>
  <div class="flex justify-around items-center py-4">
    <a href="/news?p={{ post.id - 1 }}" class="btn bg-blue-600 hover:bg-blue-300 py-2 px-3 rounded-lg" >Prev</a>
    <a href="/news?p={{ post.id + 1 }}" class="btn bg-blue-600 hover:bg-blue-300 py-2 px-3 rounded-lg" >Next</a>
  </div>

</article>
{% else %}
<div class="flex justify-center items-center min-h-[60vh]">    
    <div class="bg-red-100 border border-red-300 text-red-700 p-8 rounded-2xl shadow-md max-w-md w-full text-center">
        <h1 class="text-xl font-bold mb-4">Ohh, No!</h1>
        <p class="mb-6 text-2xl font-bold">NO POST FOUND!</p>
    </div>
</div>
{% endif %}

{% endblock %}
